.DS_Store
*.class
*.log
*~

# Scala-IDE specific
.scala_dependencies
.cache
.classpath
.project
.settings
classes/

# idea
.idea
.idea_modules
/.worksheet/

# Dotty-IDE
.dotty-ide-artifact
.dotty-ide.json

# Visual Studio Code
.vscode

# Gradle-specific
.gradle/
build/
